.topbar {
  width: 100%;
  background-color: white;
  height: 100dvh * 0.1;
  font-size: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid black;

  ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3em;

    .menu-logo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 40%;
      height: 100%;
    }
  }
}
