:root {
  --device-height: 100dvh;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "inter";
}

a {
  text-decoration: none;
  color: inherit;
}

.arrow {
  position: fixed;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  pointer-events: none;
  transform: translate(-50%, -50%) rotate(45deg); /* keeps tip at cursor */
  will-change: transform;
}

.leader {
  opacity: 1;
}
.follower {
  opacity: 0.35;
}
